:root {
    /*Theme: racing green:*/
    /*--background-color: #004225!important;*/
    /*--text-color: white;*/
    /*--input-color: #1a3640;*/
    /*--input-border-color: black;*/
    /*--button-color: var(--input-color);*/

    /*Theme: normal (white)*/
    --background-color: #f8f9fa !important;
    --text-color: black;
    --input-color: #fff;
    --input-border-color: #ced4da;
    --button-color: #007bff;
}


.container {
    max-width: 960px;
    margin: 0 auto;
}

.god-step {
    text-align: center;
}

.form-input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid var(--input-border-color);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background: var(--input-color);
    margin: auto;
}

footer {
    text-align: right;
}

#disconnectBtn {
    display: none;
}

textarea#custInput1 {
    height: 300px;
    color: black;
}

ul.attributes-list {
    list-style: none;
}

textarea.other-rule {
    width: 500px;
    height: 300px;
}

.rule-details-wrapper, .new-rule-wrapper {
    display: none;
}

button.btn.btn-primary[type=submit] {
    margin-bottom: 40px;
}

.bg {
    background-color: var(--background-color);
    color: var(--text-color);
}

font {
    color: white;
}

.text-center {
    text-align: center !important;
}

.py-5 {
    padding-bottom: 1rem !important;
    padding-top: 1.5rem !important;
}

.lead {
    font-size: 1.25rem;
}

.mb-3 {
    margin-bottom: 1rem !important;
    box-sizing: border-box;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.btn-connect {
    margin: 1rem !important;
    background-color: var(--button-color);
}

.btn-save {
    background-color: var(--button-color);
    margin: auto;
    min-width: 45%;
}

.btn-delete {
    margin: auto;
    min-width: 45%;
}

.btn-update {
    background-color: var(--button-color);
    margin: auto;
    min-width: 45%;
}

.rule-description, .error-message {
    height: 100px;
}

.rules-list-wrapper .rule-item {
    margin-top: 60px;
}

.action-button-box, .search-rule-wrapper {
    display: none;
}

.back-maintain, .back-define, .search-button {
    display: none;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.search-button {
    float: right;
}

div.rule-values-wrapper, div.db-info-wrapper {
    display: none;
}

.spinner-holder {
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    top: 50%;
    position: fixed;
    width: 5em;
    height: 5em;
    z-index: 9999999999;
    overflow: hidden;
    background: transparent;
}


tbody tr:hover {
    opacity: .6;
    cursor: pointer;
}

.text-primary {
    font-size: xx-large;
    width: 100%;
    height: 100%;
}

div.spinner-border {
    -webkit-animation: spinner-border .5s linear infinite;
    animation: spinner-border .5s linear infinite;
    width: 4rem;
    height: 4rem;
}

table.existing-rules-wrapper {
    display: none;
}

.attr-lst-input, .attr-lst-btn {
    max-width: 45%;
}

.attr-lst-btn {
    margin-bottom: 0 !important;
}

li {
    color: red;
    font-weight: bold;
}

.maintain-table-body {
    cursor: pointer;
}

.alert-success, .alert-danger {
    display: none;
}

.field-error {
    color: red;
    display: none;
}

.maintain-rule-spinner, .new-rule-spinner {
    display: none;
    text-align: center;
}

[disabled] {
    background: 0;
    cursor: not-allowed;
}
