.container {
    width: 1000px;
    margin: 0 auto;
}

.god-step {
    text-align: center;
}
.form-input {
    margin: 10px;
}

footer {
    text-align: right;
}

#disconnectBtn {
    display: none;
}

textarea#custInput1 {
    height: 300px;
    color: black;
}

ul.attributes-list {
    list-style: none;
}

textarea.other-rule {
    width: 500px;
    height: 300px;
}