:root {
    /*Theme: racing green:*/
    /*--background-color: #004225!important ;*/
    /*--text-color: white;*/
    /*--input-color: #1a3640;*/
    /*--input-border-color: black;*/
    /*--button-color: var(--input-color);*/

    /*Theme: normal (white)*/
    --background-color: #f8f9fa!important;
    --text-color: black;
    --input-color: #fff;
    --input-border-color: #ced4da;
    --button-color: #007bff;
}


.container {
    max-width: 960px;
    margin: 0 auto;
}

.god-step {
    text-align: center;
}
.form-input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid var(--input-border-color);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: var(--input-color);
    margin: auto;
}

footer {
    text-align: right;
}

#disconnectBtn {
    display: none;
}

textarea#custInput1 {
    height: 300px;
    color: black;
}

ul.attributes-list {
    list-style: none;
}

textarea.other-rule {
    width: 500px;
    height: 300px;
}

.rule-details-wrapper {
    display: none;
}
button.btn.btn-primary[type=submit] {
    margin-bottom: 40px;
}

.bg-light {
    background-color: var(--background-color);
    color: var(--text-color);
}

font {
    color: white;
}

.text-center {
    text-align: center!important;
}

.py-5 {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}

.lead {
    font-size: 1.25rem;
}

.mb-3 {
    margin-bottom: 1rem!important;
    box-sizing: border-box;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.btn-connect {
    margin: 1rem!important;
    background-color: var(--button-color);
}

