div.container {
    width: 1300px;
    margin: 50px auto;
}

div.rule-wrapper, div.rule-info-top-block {
    display: flex;
    justify-content: space-between;
}

div.rule-info-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

div.rule-info-wrapper {
    background-color: #ccc;
    padding: 10px;
}

div.generated-rule-wrapper {
    padding-top: 10px;
    background-color: #bbbbbb;
}

div.generated-rule {
    padding: 10px;
}

div.rule-info-wrapper, div.generated-rule-wrapper {
    width: 50%;
}

div.rule-info-wrapper label, div.rule-info-wrapper input {
    display: block;
}

div.rule-info-wrapper input {
    margin-bottom: 14px;
}

div.rule-info-bottom-block ul {
    list-style: none;
    padding: 6px 4px;
    margin: 0;
    background-color: #fff;
}

div.rule-info-bottom-block {
    width: 100%;
}

div.generated-rule {
    margin: 10px;
    background-color: #fff;
}

span.generated-rule-title {
    font-size: 20px;
    margin: 10px;
}

div.rule-name {
    background-color: #ddd;
    padding: 10px;
    font-size: 20px;
}

div.rule-item {
    margin-bottom: 100px;
}

.spinner-holder {
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    top: 50%;
    position: fixed;
    width: 5em;
    height: 5em;
    z-index: 9999999999;
    overflow: hidden;
    background: transparent;
}

.text-primary {
    font-size: xx-large;
    width: 100%;
    height: 100%;
}

div.spinner-border {
    -webkit-animation: spinner-border .5s linear infinite;
    animation: spinner-border .5s linear infinite;
    width: 4rem;
    height: 4rem;
}

div.rule-items-wrapper {
    display: none;
}