:root {
    /*Theme: racing green:*/
    /*--background-color: #004225!important;*/
    /*--text-color: white;*/
    /*--input-color: #1a3640;*/
    /*--input-border-color: black;*/
    /*--button-color: var(--input-color);*/

    /*Theme: normal (white)*/
    --background-color: #f8f9fa!important;
    --text-color: black;
    --input-color: #fff;
    --input-border-color: #ced4da;
    --button-color: #007bff;
}

div.db-info-wrapper {
    /*display: none;*/
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.spinner-holder {
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    top: 50%;
    position: fixed;
    width: 5em;
    height: 5em;
    z-index: 9999999999;
    overflow: hidden;
    background: transparent;
}

.text-primary {
    font-size: xx-large;
    width: 100%;
    height: 100%;
}

div.spinner-border {
    -webkit-animation: spinner-border .5s linear infinite;
    animation: spinner-border .5s linear infinite;
    width: 4rem;
    height: 4rem;
}

table {
    margin-top: 2vw;
}

.alert-success, .alert-danger {
    display: none;
}

.form-input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid var(--input-border-color);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: var(--input-color);
    margin: auto;
}

.form-check-input {
    cursor: pointer;
}

.pi-5 {
    padding-bottom: 1rem!important;
    padding-top: 1.5rem!important;
}

.text-center {
    text-align: center!important;
}

.lead {
    font-size: 1.25rem;
}

.bg {
    background-color: var(--background-color);
    color: var(--text-color);
}

.inner {
    border: 1px solid black;
    min-width: 100%;
    padding: 10px!important;
}

#ruleTable, .existing-lead, button.generate, .search-rule-wrapper, .existing-rules-title, .db-info-wrapper {
    display: none;
}

.generate-spinner {
    display: none;
    text-align: center;
}

.sample-code-block {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    border: .2rem solid white;
}

.insert {
    margin: 1rem auto auto;
}
